

@helper HelperName() {

    <!--TODO: Crear un Helper en este lugar para el modal.-->
    <!-- modal placeholder-->
    <div id="myModal" class="modal fade"  >
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent"></div>
            </div>
        </div>
    </div>

}

