<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_JJSo" />
                <binding name="BasicHttpBinding_JJSo1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50281/HostExpressServer/HelloWordlService.svc/" binding="basicHttpBinding"  bindingConfiguration="BasicHttpBinding_JJSo" contract="JJSo" name="BasicHttpBinding_JJSo" />
            <endpoint address="http://localhost:50281/HostExpressServer/HelloWordlService.svc/"  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_JJSo1"  contract="HelloWordService.JJSo1" name="BasicHttpBinding_JJSo1"  />
        </client>
    </system.serviceModel>
</configuration>